name: "CI pipeline"

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: 17

      - name: install dependencies
        run: npm install

      - name: run tests
        run: npm test
